html {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
	width: 75%;
	font-weight: bold;
	opacity: 1;
	word-wrap: break-word;
	font-size: 48px;
	color: white;
	font-family: Verdana;
	text-align: center;
	margin: auto;
}

h3 {
	font-family: Verdana;
	font-weight: bold;
	color:white;
	font-size: 25;
	text-align: center;
	margin: auto;
}

#dbLoginButton {
	background-color: black;
	font-family: Verdana;
	color:white;
	font-size: 20px;
	width:150px;
}

.squareBG {
	position:fixed;
	background-color: black;
	opacity: 0.80;
	border:1px;
	left: 10%;
	top: 2%;
	height:96%;
	width: 80%;
}

.squareBG1 {
	position:fixed;
	background-color: black;
	opacity: 0.80;
	border:1px;
	left: 10%;
	top: 9%;
	height:89%;
	width: 80%;
}

#dbLogin {
	display: inline-block;
	font-family: Verdana;
	font-weight: bold;
	opacity: 1;
	width: 40%;
	font-size: 16px;
}

.loginForm {
	width: 100%;
}

#loginInput {
	text-align: center;
	color: white;
}

.topBar {
	overflow: hidden;
	opacity:0.80;
	background-color: black;
}

.topBar button {
	font-family: Verdana;
	font-size: 18px;
	padding: 14px 10px;
	background-color: black;
	font-weight: bold;
	border:none;
	color: white;
}

.topBar button:hover {
	color: #B8860B;
}

.tt {
	margin-left: auto;
	margin-right: auto;
	display: block;

}

#totalChecked {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	color:white;
}

.but-Contain {
	padding-right:20px;
	display:inline-block;
}

#factionButtons {
	text-align: center;
	padding-bottom: 10px;
}

#factionButtons2 {
	text-align: center;
	padding-bottom: 20px; 
	padding-top: 5px;
}

.chooseBtn {
	height: 65px;
	border:none;
	font-family: Verdana;
	font-weight: bolder;
	font-size: 30px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    object-fit: contain;
	color:white;
	width: 230px;
}

#all {
	background: url("all_button.png");
	background-position: center;
	background-size: auto;
	text-shadow:1px 2px 0px black;
	color: white;
}

#monsters {
	background: url("mon_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#neutral {
	background: url("neu_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#nilfgaard {
	background: url("nil_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#scoia {
	background: url("sc_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#skellige {
	background: url("sk_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#northernRealms {
	background: url("nr_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

table {
    table-layout: fixed;
    font-family: Verdana;
    opacity: 1;
    text-align: center;
}

table th {
	background-color: white;
	border: 1px solid #ddd;
	padding:4px;
}

table td {
	border: 1px solid #ddd;
	padding: 4px;
}

table tr {
	background-color: white;
}

table tr:hover {
	background-color: #B8860B;
}

table tbody { 
	margin-left: 5%;
	width: 90%; 
	height:500px; 
	overflow:scroll; 
	border:1px black;
	display:block; 
}

table thead { 
	display:block;
}