html {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: url("background.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	width: 75%;
	font-weight: bold;
	opacity: 1;
	word-wrap: break-word;
	font-size: 48px;
	color: white;
	font-family: Verdana;
	text-align: center;
	margin: auto;
}

h3 {
	font-family: Verdana;
	font-weight: bold;
	color:white;
	font-size: 25;
	text-align: center;
	margin: auto;
}

#dbLoginButton {
	background-color: black;
	font-family: Verdana;
	color:white;
	cursor: pointer;
	font-size: 20px;
	width:150px;
}

#dbLoginButton:hover{
	color: #B8860B;
	border-color: #B8860B;
}

.squareBG {
	position:fixed;
	background-color: black;
	opacity: 0.80;
	border:1px;
	left: 10%;
	top: 2%;
	height:96%;
	width: 80%;
}

#squareBG1 {
	position:fixed;
	background-color: black;
	opacity: 0.9;
	border:1px;
	left: 10%;
	top: 9%;
	height:89%;
	width: 80%;
}

#dbLogin {
	display: inline-block;
	font-family: Verdana;
	font-weight: bold;
	opacity: 1;
	width: 40%;
	font-size: 16px;
}

.loginForm {
	width: 100%;
}

#loginInput {
	text-align: center;
	color: white;
}

.topBar {
	overflow: hidden;
	opacity:0.80;
	background-color: black;
}

.topBar button {
	font-family: Verdana;
	font-size: 18px;
	padding: 14px 10px;
	background-color: black;
	font-weight: bold;
	border:none;
	color: white;
}

.topBar button:hover {
	color: #B8860B;
}

#totalChecked {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	color:white;
}

.but-Contain {
	padding-right:20px;
	display:inline-block;
}

#factionButtons {
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

#searchBtn {
	color: white;
	background-color: black;
	padding: 5px 5px;
	font-size: 18px;
	font-weight: bold;
	border: 1px #B8860B;
	font-family: Verdana;
}

#searchBtn:hover {
	color: #B8860B;
	cursor: pointer;
}

#searchBtn:active {
	transition: 0.3s;
}

.sSearch {
	color: white;
	font-family: Verdana;
	font-weight: bold;
}

.pSearchText {
	color: white;
	font-family: Verdana;
	font-weight: bold;
	font-size: 22px;
}

.searchSubmit {
	color: white;
	background-color: black;
	padding: 5px 5px;
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana;
}

.searchSubmit:hover {
	color: #B8860B;
	border-color: #B8860B;
	cursor:pointer;
}

.selectStyle {
	width:150px;
	font-family: Verdana;
}



#searchMenu {
	position:fixed;
	padding-right: 100px;
	background-color: black;
	opacity: 0.80;
	border:1px;
	top: 15%;
	height:77%;
	width: 0%;
	transition: 0.3s;
}

#factionButtons2 {
	text-align: center;
	padding-bottom: 40px; 
	padding-top: 5px;
}

.chooseBtn {
	height: 65px;
	border:none;
	font-family: Verdana;
	font-weight: bolder;
	font-size: 30px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    object-fit: contain;
	color:white;
	width: 230px;
}

.chooseBtn:hover {
	cursor:pointer;
}

#allButtons {
	float:left;
	width:75%;
}

#all {
	background: url("all_button.png");
	background-position: center;
	background-size: auto;
	text-shadow:1px 2px 0px black;
	color: white;
}

#monsters {
	background: url("mon_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#neutral {
	background: url("neu_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#nilfgaard {
	background: url("nil_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#scoia {
	background: url("sc_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#skellige {
	background: url("sk_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#northernRealms {
	background: url("nr_button.png");
	background-position: center;
	text-shadow:1px 2px 0px black;
	background-size: auto;
}

#selectedCardInfo {
	position:absolute;
	top:28%;
	overflow: hidden;
	margin-left: 79%;
}

#cardPic {
	height:433px;
	width:288px;
	margin:-20px;
}

#cardName {
	color:white;
	font-weight: bold;
	width:100%;
	font-family: Verdana;
	font-size: 20px;
}

.tt {
	margin:auto;
	width:100%;
}

#tableDiv {
	float:left;
	width:80%;
}

table {
    table-layout: fixed;
    font-family: Verdana;
    opacity: 1;
    text-align: center;
}

table th {
	background-color: white;
	border: 1px solid #ddd;
	padding:4px;
}

table td {
	border: 1px solid #ddd;
	padding: 4px;
}

table tr {
	color: black;
	background-color: white;
}

table tr:hover {
	background-color: #B8860B;
}

table tbody { 
	margin-left: 5%;
	height:auto;
	max-height: 500px;
	width: 90%; 
	height:550px; 
	overflow:scroll; 
	border:1px black;
	display:block; 
}

table thead { 
	display:block;
}