html {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}

table {
    table-layout: fixed;
    font-family: sans-serif;
    display: block;
    height: 400px;
}

table tbody { 
	width: 70%; 
	height:600px; 
	overflow-y:scroll; 
	display:block; 
}

table thead { 
	display:block;
}